@import 'tailwindcss';

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .banner-height {
  min-height: calc(100vh - 80px);
} */

/* debug */
/* *,
*::after,
*::before {
    outline: 1px solid red;
} */